@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  max-width: 500px;
  padding: 2rem;
  border-radius: 10px;
  background-color: #1E1E1E;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.App:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

h1 {
  color: #FFFFFF;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.TodoWrapper {
  margin-top: 2rem;
}

.TodoForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: #2C2C2C;
  border: 1px solid #555;
  padding: 0.75rem 1rem;
  flex-grow: 1;
  color: #E0E0E0;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.todo-input::placeholder {
  color: #888;
}

.todo-input:focus {
  background: #333;
  border-color: #777;
}

.todo-btn {
  background-color: #6200EE;
  color: #fff;
  border: none;
  padding: 0.75rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.todo-btn:hover {
  background-color: #3700B3;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C2C2C;
  color: #E0E0E0;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.Todo:hover {
  background-color: #3C3C3C;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.fa-trash,
.edit-icon,
.delete-icon {
  margin-left: 1rem;
  color: #E0E0E0;
  transition: color 0.2s ease-in-out;
}

.fa-trash:hover,
.edit-icon:hover,
.delete-icon:hover {
  color: #BBB;
}
